---
import NextArrow from '../icons/NextArrow.astro';
import PrevArrow from '../icons/PrevArrow.astro';
import { featuredShoes } from '../data/featuredShoes';
---

<main>
  <!-- Contenedor Principal del Swiper -->
  <div class="swiper">
    <!-- Wrapper Adicional Requerido -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {
        featuredShoes.map((shoe) => (
          // Card
          <article class="swiper-slide flex flex-col items-center justify-center mt-44 bg-primary rounded-xl shadow-xl p-8 h-[500px]">
            <picture>
              <img
                class="rounded-xl relative -top-10"
                src={shoe.images[0]}
                alt={`Imagen del Zapato: ${shoe.name}`}
              />
            </picture>
            <div class="flex flex-col">
              <span class="text-xl text-neutral-400">{shoe.maker}</span>
              <h2 class="font-bricolage-grotesque font-bold tracking-wide text-2xl my-3 h-16 flex">
                {shoe.name}
              </h2>
              <span class="text-xl tracking-widest font-bold text-neutral-400">
                ${shoe.price}.00
              </span>
            </div>
            <div class="mt-12 flex justify-center ">
              <button>
                <a
                  class="px-28 text-white font-bold tracking-wider border-2 py-3 rounded hover:scale-110 hover:bg-blue-500 transition"
                  href={`/Shoes/${shoe.id}`}
                >
                  AGREGAR AL CARRITO
                </a>
              </button>
            </div>
          </article>
        ))
      }
    </div>
    <!-- Botones de Navegacion -->
    <PrevArrow width="60" className="swiper-button-prev" />
    <NextArrow width="60" className="swiper-button-next" />
  </div>
</main>

<script>
  // Core de Swiper y estilos
  import Swiper from 'swiper';
  import 'swiper/css';

  // Modulo de navegacion de Swiper y estilos
  import { Navigation } from 'swiper/modules';
  import 'swiper/css/navigation';

  // Configurar Swiper
  const swiper = new Swiper('.swiper', {
    modules: [Navigation],
    loop: true,
    slidesPerView: 3,
    spaceBetween: 40,
    navigation: {
      prevEl: '.swiper-button-prev',
      nextEl: '.swiper-button-next',
    },
  });
</script>
